﻿@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>部门岗位信息</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="font-noraml">部门</label>
                            <div id="deptId" col="DeptId"></div>
                        </div>

                        <div class="form-group">
                            <label class="font-noraml">岗位</label>
                            <div id="jobId" col="JobId"></div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary " type="button" onclick="saveForm()"><i class="fa fa-check"></i>&nbsp;提交</button>&nbsp;<button class="btn btn-primary " type="button" onclick="clearValue()"><i class="fa fa-check"></i>&nbsp;清除</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>详细</h5>
                    </div>
                    <div class="ibox-content">
                        <table id="gridTable" data-mobile-responsive="true"></table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var empid = ys.request("id");
    var depId = 0;
    var jobId = 0;
    var id = 0;
    $(function ()
    {
        $('#jobId').ysComboBoxTree({ url: '@Url.Content("~/OrganizationManage/Job/GetJobTreeListJson")', async: false, clickFun: clickJobcall });
        $('#deptId').ysComboBoxTree({ url: '@Url.Content("~/OrganizationManage/Department/GetDepartmentTreeListJson")', async: false, clickFun: initJob  });
        initGrid();
        $('#form').validate({
            rules: {
                empName: { required: true }
            }
        });
        $(".fixed-table-toolbar").hide();
    });
    ///加载关联部门岗位列表
    function initGrid() {
        var queryUrl = '@Url.Content("~/OrganizationManage/Employee/GetPartTimeList")' + '?id=' + empid;
        $('#gridTable').ysTable({
            url: queryUrl,
            columns: [
                { field: 'Id', title: 'Id', visible: false },
                { field: 'DeptName', title: '部门名称' },
                { field: 'JobName', title: '岗位名称' },
                { field: 'PartType', title: '类型' },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs" href="#" onclick="edit(\'' + row.Id + '\')"><i class="fa fa-pause-circle-o"></i>修改</a> ');
                        actions.push('<a class="btn btn-primary btn-xs" href="#" onclick="remove(\'' + row.Id + '\'><i class="fa fa-pause-circle-o"></i>删除</a> ');
                        return actions.join('');
                    }
                }
            ]
        });
    }
    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }
    ///加载岗位
    function initJob(obj)
    {
        initJobTree(obj.id);
        depId = obj.id;
    }
    function initJobTree(depId)
    {
        $("#jobId").html('');
        $("#job_tree").remove();
        $("#job_input").remove();
        $('#jobId').ysComboBoxTree({ url: '@Url.Content("~/OrganizationManage/Employee/GetJobTreeListJson")' + '?depId=' + depId, async: false, clickFun: clickJobcall });
    }
    ///获取选择的岗位ID
    function clickJobcall(obj)
    {
        jobId = obj.id;
    }
    //修改复制
    function edit(id, jobName, deptName) {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/Employee/GetPartTimeFormJson")' + '?id=' + id,
                type: 'get',
                success: function (obj) {
                    if (obj.Tag == 1) {
                        console.log(obj.Data);
                        $('#form').setWebControls(obj.Data);
                        id = obj.Data.Id;
                        depId = obj.Data.DeptId;
                        jobId = obj.Data.JobId;
                    }
                }
            });
        }
        else {
            var defaultData = {};
            $('#form').setWebControls(defaultData);
        }
    }
    function clearValue()
    {
        location.reload();
    }
    ///保存
    function saveForm() {
        if ($('#form').validate().form()) {
            if (depId == 0 || jobId == 0) {
                ys.msgError("请选择部门岗位");
                return;
            }
            var postData = {};
            postData.Id = id;
            postData.DeptId = depId;
            postData.JobId = jobId;
            postData.PartType = 2;
            postData.EmpId = empid;
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/Employee/SavePartTimeFormJson")',
                type: 'post',
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        searchGrid();
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }
    

</script>

