﻿@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="col-sm-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-1" aria-expanded="true"> 员工基本信息</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-2" aria-expanded="false">员工附加信息</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">员工姓名<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empName" col="EmpName" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">工号<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empWorkID" col="EmpWorkID" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">部门<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <div id="deptIdtree" col="DeptId"></div>
                                </div>
                                <label class="col-sm-2 control-label ">岗位<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <div id="jobIdtree" col="JobId"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">身份证号码<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empDdentityNumber" col="EmpDdentityNumber" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">性别<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empSex" col="EmpSex" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">员工手机<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empTelePhone" col="EmpTelePhone" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">家庭电话<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empHomePhone" col="EmpHomePhone" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">籍贯<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empBirthplace" col="EmpBirthplace" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">家庭地址<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empAddress" col="EmpAddress" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">员工类型<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empType" col="EmpType" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">职务<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empPosition" col="EmpPosition" type="text" class="form-control" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">学历<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empEducation" col="EmpEducation" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">银行卡号<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empBankCardNumber" col="EmpBankCardNumber" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">婚姻状况<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empMaritalStatus" col="EmpMaritalStatus" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">参加工作时间<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empJoinWorkTime" col="EmpJoinWorkTime" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">入职日期<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empJoinCompanyYear" col="EmpJoinCompanyYear" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">语言级别<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empLanguageLevel" col="EmpLanguageLevel" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">员工备注<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empNote" col="EmpNote" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">人员状态<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empState" col="EmpState" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">人员曾用名<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empUsedName" col="EmpUsedName" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">生日<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empBirthday" col="EmpBirthday" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">旧工作证<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empOldWorkID" col="EmpOldWorkID" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">邮箱<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empEmail" col="EmpEmail" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">传真<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empFax" col="EmpFax" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">民族<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empNationality" col="EmpNationality" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">出生地<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empPlaceOfBirth" col="EmpPlaceOfBirth" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">政治面貌<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empPoliticalStatus" col="EmpPoliticalStatus" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">加入年月<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empJoinYearMonth" col="EmpJoinYearMonth" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">身份证有效期<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empIdentitydate" col="EmpIdentitydate" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">学位<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empDegree" col="EmpDegree" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">公积金账号<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empProvidentFundAccount" col="EmpProvidentFundAccount" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">邮编<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empZipCode" col="EmpZipCode" type="text" class="form-control" />
                                </div>
                                <label class="col-sm-2 control-label ">户口所在地<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empMainAccountLocation" col="EmpMainAccountLocation" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-sm-2 control-label ">社保缴费基数<font class="red"> *</font></label>
                                <div class="col-sm-3">
                                    <input id="empSocialSecurityMonth" col="EmpSocialSecurityMonth" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    var depId = 0;
    var jobId = 0;
    $(function ()
    {
        $('#jobIdtree').ysComboBoxTree({ url: '@Url.Content("~/OrganizationManage/Job/GetJobTreeListJson")', async: false, clickFun: clickJobcall });
        $('#deptIdtree').ysComboBoxTree({ url: '@Url.Content("~/OrganizationManage/Department/GetDepartmentTreeListJson")', async: false, clickFun: initJob });
        getForm();
       
        $('#form').validate({
            rules: {
                empName: { required: true }
            }
        });
    });
    function initJob(obj)
    {
        initJobTree(obj.id);
        depId = obj.id;
    }
    function initJobTree(depId)
    {
        $("#jobIdtree").html('');
        $("#job_tree").remove();
        $("#job_input").remove();
        $('#jobIdtree').ysComboBoxTree({ url: '@Url.Content("~/OrganizationManage/Employee/GetJobTreeListJson")' + '?depId=' + depId, async: false, clickFun: clickJobcall });
    }
    function clickJobcall(obj)
    {
        jobId = obj.id;
    }
    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/Employee/GetFormJson")' + '?id=' + id,
                type: 'get',
                success: function (obj) {
                    if (obj.Tag == 1) {
                        var result = obj.Data;
                        $("#form").setWebControls(result);
                        //initJob(result.DeptId);
                    }
                }
            });
        }
        else {
            var defaultData = {};
            $('#form').setWebControls(defaultData);
        }
    }

    function saveForm(index) {
        if ($('#form').validate().form()) {
            var postData = $("#form").getWebControls({ Id: id });
            if (depId == 0 || jobId == 0)
            {
                ys.msgError("请选择部门岗位");
                return;
            }
            postData.DeptId = depId;
            postData.JobId = jobId;
            postData.IsPartTime = 1;
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/Employee/SaveFormJson")',
                type: 'post',
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.searchGrid();
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }
</script>

