﻿@{ Layout = "~/Views/Shared/_FormWhite.cshtml"; }

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>部门信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        @*<div class="form-group">
                            <label class="col-sm-3 control-label ">部门</label>
                            <div class="col-sm-8">
                                <div id="dept" col="dept"></div>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">上级岗位</label>
                            <div class="col-sm-8">
                                <div id="parentId" col="ParentId"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">岗位名称<font class="red"> *</font></label>
                            <div class="col-sm-8">
                                <input id="jobName" col="JobName" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">岗位类型<font class="red"> *</font></label>
                            <div class="col-sm-8">
                                <div id="jobType" col="JobType"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">显示顺序</label>
                            <div class="col-sm-8">
                                <input id="jobSort" col="JobSort" type="text" class="form-control" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>权限</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <div id="menuTree" class="ztree"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>详细</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table id="gridTable" data-mobile-responsive="true"></table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    var depId = 0;
    $(function () {
        @*$('#dept').ysComboBoxTree({ url: '@Url.Content("~/OrganizationManage/Department/GetDepartmentTreeListJson")', async: false, clickFun: initJob });*@
        $('#parentId').ysComboBoxTree({ url: '@Url.Content("~/OrganizationManage/Job/GetJobTreeListJson")', async: false});
        loadMenuTree();
        getForm();
        $(".modal").appendTo("body"), $("[data-toggle=popover]").popover(), $(".collapse-link").click(function () {
            var div_ibox = $(this).closest("div.ibox"),
                e = $(this).find("i"),
                i = div_ibox.find("div.ibox-content");
            i.slideToggle(200),
                e.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down"),
                div_ibox.toggleClass("").toggleClass("border-bottom"),
                setTimeout(function () {
                    div_ibox.resize();
                }, 50);
        }), $(".close-link").click(function () {
            var div_ibox = $(this).closest("div.ibox");
            div_ibox.remove()
        });
        $("#form").validate({
            rules: {
                jobName: { required: true },
                parentIdInput: { required: true }
            }
        });
        //获取部门类型通用字典
        $("#jobType").ysComboBox({
            data: top.getDataDict("JobType"),
            key: "DictKey",
            value: "DictValue",
            class: "form-control"
        });
    });
    function initJob(obj)
    {
        //initJobTree(obj.id);
        depId = obj.id;
    }
    function initJobTree()
    {
        $("#parentId").html('');
        $("#parentId_tree").remove();
        $("#parentId_input").remove();
        $('#parentId').ysComboBoxTree({ url: '@Url.Content("~/OrganizationManage/Job/GetJobTreeListJson")', async: false, type:1 });
    }
    function loadMenuTree() {
        $('#menuTree').ysTree({
            async: false,
            url: '@Url.Content("~/SystemManage/Menu/GetMenuTreeListJson")',
            check: { enable: true },
            expandLevel: 0
        })
    }
    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/Job/GetFormJson")' + '?id=' + id,
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        var result = obj.Data;
                        $("#form").setWebControls(result);
                        $('#menuTree').ysTree("setCheckedNodes", obj.Data.MenuIds);
                    }
                }
            });
        }
        else {
             ys.ajax({
                 url: '@Url.Content("~/OrganizationManage/Job/GetMaxSortJson")',
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        $("#jobSort").val(obj.Data);
                    }
                }
            });
        }
    }

    function saveForm(index) {
        if ($("#form").validate().form()) {
            var postData = $("#form").getWebControls({ Id: id });
            postData.ParentId = ys.getLastValue(postData.ParentId);
          /*  postData.JobDeptID = depId;*/
            postData.MenuIds = $('#menuTree').ysTree("getCheckedNodes");
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/Job/SaveFormJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.searchTreeGrid(obj.Data);
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }
</script>
